@keyframes change_background {
    0%  {background-color:rgb(147, 143, 143);}
    25% {background-color:rgb(246, 207, 207);}
    50% {background-color:rgb(159, 227, 222);}
    75% {background-color:rgb(221, 244, 199);}
}

body {
    overflow:hidden;
    font-family:Helvetica;
    margin:0px;
    padding:0px;
    background-color:rgb(147, 143, 143);
    animation:change_background 16s ease infinite;
}

@keyframes move_right {
    0%  {transform:translateX(-10vw);}
    30% {transform:translateX(2vw);}
    70% {transform:translateX(88vw);}
    100%{transform:translateX(110vw);}
}
@keyframes move_left {
    0%  {transform:translateX(110vw);}
    30% {transform:translateX(88vw);}
    70% {transform:translateX(2vw);}
    100%{transform:translateX(-14vw);}
}
.shapes {
    position:absolute;
    animation:move_right 8s ease infinite;
    width:10vw;
    top:10vh;
    transform:translateX(-20vw);
    z-index:1;
}
.shapes:nth-child(even) {
    animation-name:move_left;
}
.shapes:nth-child(3), .shapes:nth-child(4) {
    top:60vh;
}

main {
    width: 68vw;
    margin-left:auto;
    margin-right:auto;
    border-left:black 0.2vw solid;
    border-right:black 0.2vw solid;
    padding:2vw;
    background-color:rgb(244, 244, 244);
    position:relative;
    z-index:2;
}

h1 {
    font-size:3em;
    margin:0px;
    padding-top:0.4vw;
    margin-bottom:2vh;
}

nav {
    display:flex;
    background-color:rgb(51, 51, 51);
    margin-bottom:2vh;
    height:7vh;
    user-select:none;
}

nav div {
    display:flex;
    width:25%;
    font-size:1.6em;
    color:white;
    text-decoration:none;
    font-weight:normal;
    cursor:pointer;
    align-items:center;
    padding-left:1.4vw;
    transition:background-color 0.4s ease;
}
nav div:hover {
    background-color:rgb(115, 115, 115);
}

nav #homepage {
    background-color:rgb(75, 75, 75);
}
nav #homepage:hover {
    background-color:rgb(115, 115, 115);
}

#text_middle {
    width:100%;
    min-height:70vh;
}

h2 {
    font-size:1.6em;
    margin:0px;
    margin-top:3vh;
    padding-bottom:1.4vh;
}

p {
    font-size:1em;
    width:80%;
    margin:0px;
}

hr {
    border-bottom-width:0.4vh;
}

footer {
    display:flex;
    border-top:black 0.2vh solid;
    padding-top:1vh;
    justify-content:space-between;
}

footer a {
    color:rgb(56, 56, 56);
}


@media (max-width:840px) {
    .shapes {
        animation:none;
    }
    main {
        width:100%;
    }
    nav div {
        font-size:1.2em;
    }
}